name: build

on: [ push, pull_request ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2.1.5

      - name: Install Dependency
        run: yarn install

      - name: Run Lint
        run: yarn run lint


  test:
    needs: [ lint ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ ^12, ^14, ^15, ^16 ]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node }}

      - name: Install Dependency
        run: yarn install

      - name: Run Unit test
        run: yarn run test

  semantic-release:
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run semantic-release
        if: github.repository == 'casbin/casbin.js' && github.event_name == 'push'
        run: |
          yarn install --no-lockfile
          yarn run prepack
          yarn run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
